body {
  background-image: url("./beerhall.jpg");
  background-repeat: 'no-repeat';
  background-attachment: fixed;
  margin: 2vh;
  color: white;
}
.keg {
  margin: 5px;
  padding: 5px;
  font-family: futura;
}
.links {
  font-family: futura;
  margin-bottom: 20px;
}
hr {
  border: 2px solid;
  border-radius: 25px;
}
.headerStyle{
  text-align: center;
  align-content: center;
  text-shadow: .1vh .1vh .4vh #000000;
}
h2 {
  font-size: 4vh;
  margin-bottom: 0px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  font-size: 2.5vh;
}
