body {
  background-image: url("./beerhall.jpg");
  background-repeat: 'no-repeat';
  background-attachment: fixed;
  margin: 2vh;
  color: white;
}
.keg {
  margin: 5px;
  padding: 5px;
  font-family: futura;
}
.links {
  font-family: futura;
  margin-bottom: 20px;
}
hr {
  border: 2px solid;
  border-radius: 25px;
}
h3 {
  font-size: 4vh;
  margin-bottom: 0px;
}
h2 {
  margin: 5px;
  font-size: 2.5vh;
}
